@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700;900&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-artistic: "Unbounded", sans-serif;
  
  --color-primary: #F9943B;
  --color-secondary: #151F28;
}

@layer base {
  body {
    @apply bg-secondary text-primary font-sans antialiased;
  }
}

.font-artistic {
  font-family: var(--font-artistic);
}
